html
  head
    link(href='css/main.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Oleo+Script:400,700' rel='stylesheet' type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(charset='utf-8')

  body
    section#main-container
    p.
      asdasdsada asdasd
    footer.site-footer.valign-wrapper
      .container
        .row
          .col.s12.l3.center-align
            a.dropdown-button.btn.red(href='#', data-activates='dropdown1') IDIOMA!
            ul#dropdown1.dropdown-content
              li
                a.red-text(href='#!')  Español 
              li
                a.red-text(href='#!') English
          .col.s12.l3.push-l6.center-align
            | ®2016 platzigram
    script(src='https://code.jquery.com/jquery-3.0.0.min.js', integrity='sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
    script(src='js/app.js' type='application/javascript')
